/* @font-face {
  font-family: ;
  src: url();
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Plain Light";
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
#crsr {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  /* background-color: white; */
  border: 2px solid #ffffffb2;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #0b0b0b;
  z-index: 999;
  padding: 25vh 10vw;
}
.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}
#line1-part1 span {
  font-size: 2vw;
  font-weight: 100;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 100;
}
#line1-part1 h5 {
  width: 5vw;
  /* background-color: red; */
  text-align: right;
}
.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
}
.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  /* animation-name: nowAnim; */
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes nowAnim {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  47% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 0.1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 0.1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}
#main {
  position: relative;
  background-color: #151515;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 8.8vw;
}
#nav #nav-part-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}
#nav-part-2 h4 {
  font-size: 1vw;
  font-weight: 400;
}
.hero {
  /* background-color: red; */
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  overflow-y: hidden;
  /* overflow-x: auto; */
  display: flex;
  align-items: center;
}
#hero1::before {
  content: "01";
  position: absolute;

  font-size: 3vw;
  font-family: "silk serif";

  left: 18%;
  top: 32%;
}
.hero h1 {
  font-size: 7.3vw;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 7.3vw;
  /* text-align: center; */
  /* position: relative; */
}

.hero h2 {
  font-size: 7.3vw;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 7.3vw;
  border-bottom: 0.3vw solid #fff;
  padding-bottom: 0.3vw;
  /* transition: all 0.3s ease-in-out; */
}
.hero:nth-child(2) {
  margin-top: 17vh;
}

.hero h2:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: 0.3vw solid #ffffff00;
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  padding-top: 17vh;
  position: relative;
}

#video-container {
  height: 66vh;
  width: 71vw;
  position: relative;
  left: 28%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
#video-container img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-cursor {
  background-color: #ffa63d;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#video-cursor i {
  font-size: 2vw;
  color: #fff;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #beb3b373;
  position: relative;
}
#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #beb3b305;
  position: relative;
  padding-top: 7.5vw;
}

#page4-content {
  position: relative;
  width: 72vw;
  margin-left: 28%;
}
#page4-content h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
}
#page4-content h1:before {
  content: "03";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
  left: -14%;
  top: 6%;
}
.underline {
  height: 2px;
  /* width: 100%; */
  background-color: #505050;
  margin: 5vw 0;
}
#page4-content > p {
  font-size: 2.2vw;
  width: 47%;
  margin-bottom: 3.5vw;
}
#page4-flex {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center;
  align-items: center; */
}
#page4-flex img {
  width: 48%;
}
#page4-flex p {
  font-size: 1vw;
  width: 25%;
  margin-left: 1vw;
  line-height: 1.5vw;
}

#page4-blue-div {
  background-color: #3f7df4;
  width: 32vw;
  padding: 4vw;
  position: relative;
  margin-top: -30vh;
  margin-left: 24vw;
}
.blue-div-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.8vw 0;
  border-bottom: 2px solid #a7c4fa;
}
.blue-div-elem h4 {
  font-size: 1.6vw;
  font-weight: 500;
}
.blue-div-elem p {
  width: 40%;
  font-size: 1vw;
}

#page5 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding-top: 7.5vw;
}

#page5 .elem {
  /* background-color: #e90c0c; */
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 1vw;
}
.elem h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  margin-right: 16px;
  /* background-color: #e90c0c; */
  animation-name: textAnime;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes textAnime {
  from {
    transform: translateX(0);
  }
  to {
    /* for remove the stuck like zhutka we use calc */
    transform: translateX(calc(-100% - 20px));
  }
}

#page5 .elem2 {
  /* background-color: #e90c0c; */
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 1vw;
}
.elem2 h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  margin-right: 16px;
  /* background-color: #e90c0c; */
  transform: translateX(calc(-100% - 20px));
  animation-name: textAnime;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

.elem span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}
.elem2 span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}

#footer {
  height: 80vh;
  width: 100%;
  /* background-color: red; */
  position: relative;
  padding-left: 28vw;
  padding-right: 2vw;
}
#footer h1 {
  font-size: 7vw;
  /* width: 60vw; */
  text-transform: uppercase;
  font-weight: 800;
  /* margin-left: 28vw; */
  position: relative;
}
#footer h1:before {
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
  left: -14%;
  top: 6%;
}
#footer .underline-footer {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 2vw 0;
}

#footer #footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* width: 60vw; */
  padding: 3vw 0;
  padding-right: 15vw;
  /* padding: 4vw 0; */
}
.box {
  width: 25%;
}
#footer-div h6 {
  font-size: 1.2vw;
  margin-bottom: 0.8vw;
  font-weight: 500;
}
#footer-div h5 {
  font-size: 1.7vw;
  margin: 0.2vh 0;
  font-weight: 500;
}

#footer > h5 {
  font-size: 1.2vw;
  margin: 1vw 0;
  font-weight: 500;
}

#end {
  height: 10vh;
  width: 100%;
  background-color: #151515;
}
